@model ExploreMidwest.Web.Models.BlogVM

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">     
    @using (Html.BeginForm())
    {
          <div class="col-xs-3 divMain">
                <h4>Blog Category Name</h4>               
              <div>
                  @Html.HiddenFor(m=>m.Blog.BlogId)
                  @Html.DropDownListFor(c => c.Blog.Category.CategoryId, Model.CategoryItems, "-choose category-", new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.CategoryItems)
              </div>
                <div class="control" id="newCategory">
                    <h5>New Category</h5>                   
                    <input type="text" />
                </div>
            </div>
            <div class="col-xs-9 divMain">
                <h4>Blog Subject Name</h4>                
                <div class="form-group" style="font-size: 14pt">
                    @Html.TextBoxFor(t => t.Blog.Title, new { @class = "form-group"})       
                    @Html.ValidationMessageFor(t => t.Blog.Title)

                    <label>Date</label>
                    @Html.TextBoxFor(t => t.Blog.Date, new { @class = "form-group" })

                    <label>Author</label>
                    @Html.TextBoxFor(t => t.Blog.Author, new { @class = "form-group" })

                    
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 control" >
                    <h4>Blog Content</h4>
                    @Html.TextAreaFor(m => m.Blog.Body, new { @class = "form-group" , id="textarea"})

                    <label>Tags</label>
                    @Html.TextBoxFor(t => t.Blog.Tags, new { @class = "form-group" })

                    @Html.HiddenFor(m => m.Blog.IsDeleted) 
                    @Html.CheckBoxFor(m => m.Blog.IsFinished) Publish Blog

                    
                </div>

                <div>
                    <div>
                        @using (Html.BeginForm ("Index", "Home", FormMethod.Post,
                            new { enctype = "multipart/form-data"}))
                        {
                            
                            <input type="file" name="file" id="file"/>
                            <input type="submit" value="Upload Image"/>
                            @*@ViewBag.Message*@
                        }
                    </div>
                    <button id="cancel-button" class="btn btn-primary btn-sm">Cancel</button>
                    
                </div>
            </div>
            <button type="submit" id="submit-button" class="btn btn-primary btn-sm">Submit</button>
    }
          
          
</div>








