@model ExploreMidwest.Web.Models.BlogVM

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="row">     
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Blog)
          <div class="col-xs-3 divMain">
                <h4>Blog Category Name</h4>               
              <div>
                  @Html.DropDownListFor(c => c.Blog.Category.CategoryId, Model.CategoryItems, "-choose category-", new { @class = "form-control" })
                  @Html.ValidationMessageFor(m => m.CategoryItems)
              </div>
                <div class="control" id="newCategory">
                    <h5>New Category</h5>                   
                    <input type="text" />
                </div>
            </div>
            <div class="col-xs-9 divMain">
                <h4>Blog Subject Name</h4>                
                <div class="form-group" style="font-size: 14pt">
                    @Html.TextBoxFor(t => t.Blog.Title, new { @class = "form-group"})       
                    @Html.ValidationMessageFor(t => t.Blog.Title)
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 control" >
                    <h4>Blog Content</h4>
                    @Html.TextAreaFor(m => m.Blog.Body)                   
                </div>
                <div>
                    <button id="upload-button" class="btn btn-primary btn-sm">Upload Image</button>
                    <button id="cancel-button" class="btn btn-primary btn-sm">Cancel</button>
                    <button type ="submit" id="submit-button" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>

    }
          
          
</div>








