@model IEnumerable<ExploreMidwest.Model.Page>

@{
    ViewBag.Title = "SavedPages";
}

<h2>SavedPages</h2>

<p>
    @Html.ActionLink("Create New", "AddPage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPage", new { id=item.PageId }) |
            @Html.ActionLink("Delete", "DeletePage", new { id=item.PageId })
        </td>
    </tr>
}

</table>
